In [1]:
import numpy as np
import pandas as pd

In [2]:
enterprises_number = 4 # Creating all variables and provide a table
data = np.array([[0, 10, 20, 30, 38, 43, 49, 52], [0, 13, 25, 37, 47, 55, 61, 66],
                  [0, 6, 13, 20, 27, 33, 38, 41], [0, 24, 36, 42, 46, 48, 48, 49]]).T
table = pd.DataFrame(data, index=['0', '100', '200', '300', '400', '500', '600', '700'],
                     columns=['I','II', 'III', 'IV'])
table

      I  II  III  IV
0     0   0    0   0
100  10  13    6  24
200  20  25   13  36
300  30  37   20  42
400  38  47   27  46
500  43  55   33  48
600  49  61   38  48
700  52  66   41  49

In [3]:
def most_profitable(max_row, data_col, inv_col): # An alorythm that finds maximum possible profit from a given data
  sums, history = [], []
  for row in range(max_row + 1):
    sums.append(investment_table[max_row - row][inv_col] + data[row][data_col]) # Collecting all the sums in order to return max of them
    history.append((investment_table[max_row - row][inv_col] + data[row][data_col], # Collecting tuples of making exactly these sums
                    (investment_table[max_row - row][inv_col], data[row][data_col])))
  return max(sums), history

In [4]:
def history_restoration(history_table): # A function that restores history by processing returned tuples of most_profitable function
  all_us = []
  history_table = history_table[::-1] # Reverse a history
  for var in range(2):
    u = []
    prev_elem = 0 
    u.append(history_table[var][1][1])
    prev_elem = history_table[var][1][0] # Saving previous element
    for j in [10, 20]: # A cycle to find the profit that enterprises bring
      i = 0
      for elem in history_table[j:j+10]:
        if elem[0] == prev_elem:
          u.append(history_table[j+i][1][1])
          prev_elem = history_table[j+i][1][0]
        i+=1
    u.append(prev_elem) # Saving the last element
    all_us.append(u) # Creating a full vector of profit
  return all_us

In [5]:
def money_invested(profit): # This function returns indexes of enterprises that provide profit array
  for j in range(enterprises_number):
    for index in range(len(table.index)):
      if data[index][j] == profit[j]:
        print(f'Invested {index*100} thousands in {j+1}-th enterprise')

In [6]:
investment_table = np.zeros((8,4), dtype = np.int32)
investment_table[:,0] = table['IV']
history_table, history = [], []
for column in range(1, enterprises_number): # A cycle to fill the investing table columns
  for line in range(len(table.index)): # A cycle to fill the investing table rows
    investment_table[line][column], history = most_profitable(max_row=line, data_col=3-column, inv_col=column-1)
    for elem in history:
      if elem[0] == investment_table[line][column]:
        history_table.append(elem)
print('Final Investing Table')
profit = history_restoration(history_table=history_table) 
pd.DataFrame(investment_table, index=['0', '100', '200', '300', '400', '500', '600', '700'], # Print final investing table.
                     columns=['IV','IV + III', 'IV + III + II', 'IV + III + II + I'])

Final Investing Table

     IV  IV + III  IV + III + II  IV + III + II + I
0     0         0              0                  0
100  24        24             24                 24
200  36        36             37                 37
300  42        42             49                 49
400  46        49             61                 61
500  48        56             73                 73
600  48        63             83                 83
700  49        69             91                 93

In [7]:
print(f'Final annual profit growth by enterprises: {profit}\n')
for prof in profit:
  money_invested(profit=prof)
  print('\n')

Final annual profit growth by enterprises: [[20, 37, 0, 36], [10, 47, 0, 36]]

Invested 200 thousands in 1-th enterprise
Invested 300 thousands in 2-th enterprise
Invested 0 thousands in 3-th enterprise
Invested 200 thousands in 4-th enterprise


Invested 100 thousands in 1-th enterprise
Invested 400 thousands in 2-th enterprise
Invested 0 thousands in 3-th enterprise
Invested 200 thousands in 4-th enterprise